<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">Sign up</div>
    </h2>
    <form class="ui large form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :full_name, placeholder: 'Full Name', autofocus: true %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <%= f.email_field :email, placeholder: 'E-mail address' %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, placeholder: 'Password (8 characters minimum)', autocomplete: "off" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, placeholder: 'Confirmation (8 characters minimum)', autocomplete: "off" %>
            </div>
          </div>
          <%= f.submit "Sign up", class: 'ui fluid large teal submit button' %>
        </div>
        <div class="ui error message"></div>
      <% end %>
    </form>
    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
