<div class="ui middle aligned center aligned grid top-form">
  <div class="column">
    <div class="ui large form">
      <%= form_for @book, html: { multipart: true } do |f| %>
        <div class="ui stacked segment">
          <% if not @book.nil? and @book.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@book.errors.count, "error") %>
                Erro ao salvar livro:
              </h2>
              <ul>
                <% @book.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.file_field :picture %>
            <% if f.object.picture? %>
              <%= image_tag f.object.picture.thumb.url %>
            <% end %>
          </div>
        	<div class="field">
        		<%= f.text_field :title, autofocus: true, placeholder: 'Title' %>
        	</div>
        	<div class="field">
        		<%= f.text_field :author, placeholder: 'Author' %>
        	</div>
        	<div class="field">
        		<%= f.text_field :isbn, placeholder: 'ISBN' %>
        	</div>
        	<div class="field">
        		<%= f.text_area :description, placeholder: 'Description' %>
        	</div>
    	    <%= f.submit 'Save', class: 'ui fluid large teal submit button' %>
          <%= link_to 'Back', books_path, class: 'ui link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
