<%= link_to 'Novo livro', new_book_path, class: 'btn btn-link' %>
<% @books.each do |book| %>
  <%= image_tag book.picture.thumb.url %>
  <h5><%= book.title %></h5>
  <p>Autor: <%= book.author %></p>
  <p>ISBN: <%= book.isbn %>
  <%= link_to 'Editar', edit_book_path(book), class:"btn btn-primary" %>
  <%= link_to 'Remover', book_path(book), method: :delete, class:"btn btn-danger" %>
<% end %>
