<div class="list-item">
  <div class="bottom-link">
    <%= link_to 'Novo livro', new_book_path %>
  </div>
  <div class="ui cards">
    <% @books.each do |book| %>
      <div class="column card">
        <div class="content">
          <%= image_tag book.picture.thumb.url, class: 'right floated mini ui image' %>
          <div class="header">
            <%= book.title %>
          </div>
          <div class="meta">
            <%= book.author %>
          </div>
          <div class="description">
            <%= book.isbn %>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <%= link_to 'Editar', edit_book_path(book), class: 'ui basic blue button' %>
            <%= link_to 'Remover', book_path(book), method: :delete, class: 'ui basic red button' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
