<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-signin">
    <h4 class="form-signin-heading">Preencha com o e-mail e senha</h4>
    <%= f.email_field :email, autofocus: true, placeholder: 'E-mail', class: 'form-control' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'form-control' %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end -%>

    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
    <div class="footer-signin">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end -%>
    </div>
  </div>
<% end %>
