<div class="pull-left" style="margin-top: -10px;">
  <%= link_to root_path do %>
    <%= image_tag 'byeLivro.png', size: "200x60" %>
  <% end %>
</div>
<div style="text-align: center;">
  <%= link_to 'Página inicial', root_path, class: 'btn btn-link' %>
  <%= link_to 'About', about_path, class: 'btn btn-link' %>
  <%= link_to 'Como funciona?', how_works_path, class: 'btn btn-link' %>
  <%= link_to 'Contato', contact_path, class: 'btn btn-link' %>
  <% if user_signed_in? %>
    <%= render 'layouts/user_navbar' %>
  <% end %>
  <% if not user_signed_in? %>
    <%= render 'layouts/visitor_navbar' %>
  <% end %>
</div>
