<div class="ui menu">
  <%= link_to 'ByeLivro', root_path, class: 'header item' %>
  <%= link_to 'Books', books_path, class: 'item' %>
  <div class="right menu">
    <%= render 'layouts/search' %>
    <%= link_to 'Profile', edit_user_registration_path, class: 'item' %>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'item' %>
  </div>
</div>
